<div class="jumbotron">
    <h1 class="display-3">Lista de contato</h1>
    <p class="lead">Gerencie os seus contatos</p>
    <hr class="my-2">
    <p class="lead">
        <%= link_to ' Crie a sua conta', new_user_path, class: "btn btn-primary"%>
    </p>
</div>